<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
        <p class="cs-text">
            Platinum Craft Exteriors enhances your home's exterior with quality roofing and stunning finishes.
        </p>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg" alt="construction" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                