<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Upgrade Your Cannabis Experience Today</h2>
            <p class="cs-text">
                We believe the best people create the best products for the best consumers. Every HASH product is crafted with skill, precision, and a commitment to delivering a premium experience for those who value quality.
            </p>
            <a href="/store-locator" class="cs-button-solid">Find a Store</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="../../assets/images/marijuana.jpg">
        <source media="(min-width: 601px)" srcset="../../assets/images/marijuana.jpg">
        <img loading="lazy" decoding="async" src="../../assets/images/marijuana.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                