---
title: 'About | Superior Tradelines'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <span class="cs-int-title">About</span>
            <p class="cs-text">
                
            </p>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/about" class="cs-link cs-active">About</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/badder.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/badder.jpg">
            <img decoding="async" src="/assets/images/badder.jpg" alt="construction" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>
    
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1014">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cannabisflower.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/cannabisflower.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/cannabisflower.webp" width="522" height="581" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cannabisfarmer.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cannabisfarmer.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/cannabisfarmer.jpg" width="414" height="400" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About HASH</span>
                <h2 class="cs-title">Our Vision</h2>
                <p class="cs-text">
                    We believe the best people create the best products for the best consumers. Every HASH product is crafted with skill, precision, and a commitment to delivering a premium experience for those who value quality.
                </p>
                <p class="cs-text">
                    Our team is passionate about the process, from carefully selecting each flower to expertly crafting each batch of extract. Hash Hash Baby wouldn’t be possible without the pride and care our team puts into every step. By working together, we create extracts from the finest cannabis, reflecting our high standards and deep respect for nature.
                </p>
                <div class="cs-quote">
                    <span class="cs-quote-text">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </span>
                    <span class="cs-name">John Cha Arlauskas</span>
                    <span class="cs-job">Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1011">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Desktop-->
                    <source media="(min-width: 1024px)" srcset="/assets/images/240423_HASH_Tropicana Cookies_Live Rosin.png">
                    <!--Tablet-->
                    <source media="(min-width: 601px)" srcset="/assets/images/240423_HASH_Tropicana Cookies_Live Rosin.png">
                    <!--Mobile-->
                    <source media="(max-width: 600px)" srcset="/assets/images/240423_HASH_Tropicana Cookies_Live Rosin.png">
                    <img loading="lazy" decoding="async" src="/assets/images/240423_HASH_Tropicana Cookies_Live Rosin.png" width="522" height="461" aria-hidden="true">
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Quality CANNABIS</span>
                <h2 class="cs-title">Made By People Who Care</h2>
                <p class="cs-text">
                    Our team of experts brings years of knowledge and dedication to every batch. They know that the best products come from meticulous craftsmanship and care.
                </p>
                <a href="" class="cs-button-solid">Find Near You</a>
            </div>
        </div>
    </section>
                                    
                                
                                    

    {% include 'components/cta.html' %}

{% endblock %}