---
title: 'Project Two | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Credit Repair
    order: 3200
    parent: Learn
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Credit Repair</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\pexels-pixabay-302831.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1452">
        <div class="cs-container">
            <div class="cs-content">
                <!--Yellow Quote-->
                <img class="cs-quote" aria-hidden="true" src="\assets\svgs\quote.svg" decoding="async" alt="quote icon" width="40" height="33" loading="lazy">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Take Control of Your Financial Future</h2>
                <p class="cs-text">
                    Your credit score is more than just a number—it’s a key that unlocks opportunities like securing loans, renting apartments, or getting approved for credit cards. At Superior Tradelines, we specialize in helping you repair your credit efficiently and ethically, giving you the foundation you need to achieve your financial goals.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <p class="cs-review">
                        When you think about collecting customer feedback, it’s easy to get overwhelmed by the sheer volume of it. With so many more customers and so many ways to connect with their feedback, it’s hard to know to where to start.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/Image.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            George Thomas
                            <span class="cs-job"></span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <p class="cs-review">
                        It’s easy to get overwhelmed by the sheer volume of feedback. With so many more customers and so many ways to connect with their feedback, it’s hard to know to where to start.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/Image.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                        </picture>
                        <span class="cs-name">
                            Mason James
                            <span class="cs-job"></span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1443">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Giving Back</span>
                <h2 class="cs-title">How We Help Repair Credit</h2>
                <p class="cs-text">
                    We start with a detailed review of your credit report to identify areas for improvement. This includes spotting errors, negative marks, and opportunities for boosting your score.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Proven Expertise</h3>
                            <p class="cs-li-text">
                                It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Fast Results</h3>
                            <p class="cs-li-text">
                                It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Dedicated Support</h3>
                            <p class="cs-li-text">
                                It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                            </p>
                        </div>
                    </li>
                </ul>     
                <a href="" class="cs-button-solid">Schedule a Consultation</a>        
            </div>
        </div>
    </section>
                                  

    {% include 'components/cta.html' %}

{% endblock %}