/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1014 {
    padding: var(--sectionPadding);
  }
  #sbs-1014 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1014 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1014 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
  }
  #sbs-1014 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1014 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1014 .cs-quote {
    margin: 0 0 2rem 0;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #282828;
    box-shadow: rgba(200, 200, 200, 0.2) 8px 8px 24px;
    position: relative;
  }
  #sbs-1014 .cs-quote-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1014 .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--primary);
    display: block;
  }
  #sbs-1014 .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1014 .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs-1014 .cs-image-group {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs-1014 .cs-picture {
    position: absolute;
    display: block;
  }
  #sbs-1014 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-1014 .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 24px;
    left: 0;
    top: 0;
  }
  #sbs-1014 .cs-picture2 {
    width: 25.875em;
    height: 25em;
    box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 24px;
    /* 6px - 12px */
    right: 0;
    bottom: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1014 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-1014 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-1014 .cs-content {
    margin: 0;
  }
}
/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1011 {
    padding: var(--sectionPadding);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  #sbsr-1011 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1011 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes to 522px at desktop */
    max-width: 36.125rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1011 .cs-title,
  #sbsr-1011 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #sbsr-1011 .cs-text {
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  #sbsr-1011 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1011 .cs-spacer {
    width: 100%;
    /* 16px - 24px */
    height: clamp(1rem, 3vw, 1.5rem);
    display: block;
  }
  #sbsr-1011 .cs-image-group {
    width: 100%;
  }
  #sbsr-1011 .cs-picture {
    width: 100%;
    height: 16.3125rem;
    display: block;
    box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 24px;
    position: relative;
  }
  #sbsr-1011 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it behave like a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1011 .cs-container {
    align-items: flex-start;
  }
  #sbsr-1011 .cs-flex-group {
    flex-direction: row;
  }
  #sbsr-1011 .cs-spacer {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1011 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* 100px - 200px */
    gap: clamp(6.25rem, 13vw, 12.5rem);
  }
  #sbsr-1011 .cs-image-group {
    max-width: 33.875rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1011 .cs-picture {
    height: 28.75rem;
    aspect-ratio: initial;
  }
  #sbsr-1011 .cs-content {
    flex: none;
    width: 54%;
    max-width: 33.875rem;
  }
}
