/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1011 {
        padding: var(--sectionPadding);
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        @keyframes move {
            100% {
              transform: translate3d(0, 0, 1px) rotate(360deg);
            }
        }
        
        .background {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;

            &::after {
                /* glass blur background */
                content: "";
                width: 100vw;
                height: 100%;
                border-top: 2px solid rgba(255, 255, 255, 0.5);
                background: rgba(26, 26, 26, 0.5);
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        .ball {
            position: absolute;
            width: 20vmin;
            height: 20vmin;
            border-radius: 50%;
            backface-visibility: hidden;
            animation: move linear infinite;
            color: var(--primary);
        }
        
        /* Using a custom attribute for variability */
        .ball:nth-child(1) {
            top: 77%;
            left: 88%;
            animation-duration: 40s;
            animation-delay: -3s;
            transform-origin: 16vw -2vh;
            box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
        }
        .ball:nth-child(2) {
            top: 42%;
            left: 2%;
            animation-duration: 53s;
            animation-delay: -29s;
            transform-origin: -19vw 21vh;
            box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
        }
        .ball:nth-child(3) {
            top: 28%;
            left: 18%;
            animation-duration: 49s;
            animation-delay: -8s;
            transform-origin: -22vw 3vh;
            box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
        }
        .ball:nth-child(4) {
            top: 50%;
            left: 79%;
            animation-duration: 26s;
            animation-delay: -21s;
            transform-origin: -17vw -6vh;
            box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
        }
        .ball:nth-child(5) {
            top: 46%;
            left: 15%;
            animation-duration: 36s;
            animation-delay: -40s;
            transform-origin: 4vw 0vh;
            box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
        }
        .ball:nth-child(6) {
            top: 77%;
            left: 16%;
            animation-duration: 31s;
            animation-delay: -10s;
            transform-origin: 18vw 4vh;
            box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: (578/16rem);
            margin-top: (-16/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-image-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: (261/16rem);
            display: block;
            box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 24px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
            }
        }

        .cs-seal {
            /* changes to a clamp(104px - 190px) at desktop */
            width: (104/16rem);
            height: auto;
            /* 104px - 190px */
            /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
            margin-top: ~"calc(clamp(6.5rem, 12vw, 11.875rem)*-.5)";
            margin-left: auto;
            /* 28px - 120px */
            margin-right: clamp(1.75rem, 10vw, 7.5rem);
            box-shadow: rgba(200, 200, 200, 0.2) 0px 8px 24px;
            background-color: #1a1a1a;
            border-radius: 50%;
            display: block;
            position: relative;
            /* make it rest on top of the bg picture */
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-1011 {
        .cs-container {
            align-items: flex-start;
        }
        .cs-flex-group {
            flex-direction: row;
        }

        .cs-spacer {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1011 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }

        .cs-image-group {
            max-width: (542/16rem);
            display: flex;
            justify-content: flex-end;
            position: relative;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-picture {
            height: (460/16rem);
            aspect-ratio: initial;
        }

        .cs-seal {
            /* 104 - 190px */
            width: clamp(6.5rem, 13vw, 11.875rem);
            margin: 0;
            position: absolute;
            top: 50%;
            /* subtract 12px (.75rem) to account for the border */
            left: ~"calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem)";
            transform: translateY(-50%);
        }

        .cs-content {
            flex: none;
            width: 54%;
            max-width: (542/16rem);
        }
    }
}
                         
/*-- -------------------------- -->
<--- Side By Side Image Gallery -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1019 {
        /* prevents the overflowing cs-picture at large desktop from causing overflow issues */
        overflow: hidden;
        background-color: #1a1a1a;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            /* 16px - 20px */
            margin: 0 auto clamp(1rem, 1.5vw, 1.25rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (530/16rem);
            /* moved section padding to the content area */
            padding: var(--sectionPadding);
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin: 0 0 (32/16rem);
            opacity: 0.8;
        }

        .cs-picture {
            width: 100%;
            height: (480/16rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-image-group {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-image {
            width: 100%;
            /* 170px - 284px */
            height: clamp(10.625rem, 32vw, 17.75rem);
            display: block;
            grid-column: span 6;
            position: relative;

            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-1019 {
        .cs-container {
            /* moved section padding to the container */
            padding: var(--sectionPadding);
            padding-bottom: 0;
            /* remove padding-left so the image touches the right screen edge */
            padding-left: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            padding: 0;
            align-items: flex-start;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-image {
            grid-column: span 4;
            &:nth-of-type(3) {
                display: block;
            }
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbsr-1019 {
        /* moved section padding to the section but removed all padding except the padding top.  We're moving the padding top from the container to the section container so we can place the cs-picture easier inside the cs-container. If the Stitch below this Stitch is on a white background, add padding-bottom:0; to this one so there's not a huge gap between the sections. */
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;

        .cs-container {
            padding-top: 0;
        }

        .cs-content {
            /* pushes it to the right */
            margin-left: auto;
            padding: (52/16rem) 0;
        }

        .cs-picture {
            width: 50vw;
            height: 100%;
            margin: 0 (10/16rem) 0 0;
            /* absolutely positioned so it can rest on the right edge of the screen, and its height will respond the the changing height of the cs-content when you add or subtract content */
            position: absolute;
            right: 50%;
            top: 0;
        }

        .cs-image-group {
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-image {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                display: block;
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1023 {
        padding: var(--sectionPadding);
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            /* 40px - 88px */
            padding: clamp(2.5rem, 7vw, 5.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            margin: auto;
            background-color: #282828;
            border-top: 2px solid var(--primary);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (434/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .cs-item {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:after {
                /* divider line */
                content: "";
                /* 20px - 80px */
                margin: clamp(1.25rem, 6vw, 5rem) 0;
                width: 100%;
                height: 1px;
                background: #e8e8e8;
                display: block;
            }
        }

        .cs-number {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 4vw, 2.4375rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            /* 12px - 20px */
            margin: 0 0 clamp(0.75rem, 2vw, 1.25rem) 0;
            padding: (20/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            color: var(--bodyTextColorWhite);
            background-color: #1a1a1a;
            border-radius: (80/16rem);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.2em;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1023 {
        .cs-card-group {
            width: auto;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            flex: none;
            /* 88px - 120px */
            gap: clamp(5.5rem, 9.8vw, 7.5rem);
        }

        .cs-item {
            &:after {
                width: 1px;
                height: (100/16rem);
                margin: 0;
                position: absolute;
                top: 0;
                /* 44px - 120px, half of the cs-card-group gap value */
                right: ~"calc(clamp(2.75rem, 4.7vw, 4rem)*-1)";
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1023 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1013 {
        padding: var(--sectionPadding);
        position: relative;
        background-color: #1a1a1a;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            max-width: (630/16rem);
            /* 24px - 64px */
            padding: clamp(1.5rem, 4.8vw, 4rem);
            background-color: #282828;
            border: 1px solid rgba(255, 255, 255, 0.24);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            grid-column: span 12;
            position: relative;
        }

        .cs-review {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0 0 (24/16rem) 0;
            /* 20px - 44px */
            padding-bottom: clamp(1.25rem, 3vw, 2.75rem);
            color: var(--bodyTextColorWhite);
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        }

        .cs-flex-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 12px - 20px */
            gap: clamp(0.75rem, 2vw, 1.25rem);
        }

        .cs-profile {
            /* 48px - 72px */
            width: clamp(3rem, 6vw, 4.5rem);
            height: clamp(3rem, 6vw, 4.5rem);
            border: 1px solid #b4b2c7;
            /* prevents border from adding to height and width */
            box-sizing: border-box;
            background-color: #b4b2c7;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 16px - 25px */
            font-size: clamp(1rem, 2.2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--primary);
            display: block;
        }

        .cs-background {
            width: 100%;
            height: 40%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.5;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1013 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-background {
            height: 40%;
        }
    }
}

                                