/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1443 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: (24/16rem);
        }
        
        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            width: (80/16rem);
            height: (80/16rem);
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            min-width: auto;
            align-self: center;
        }

        .cs-picture {
            width: 100%;
            max-width: (650/16rem);
            min-height: (362/16rem);
            border-radius: (24/16rem);
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1443 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            position: relative;
        }

        .cs-content {
            width: 50%;
            padding: (40/16rem) 0;
        }

        .cs-picture {
            height: auto;
            width: 55%;
        }

        .cs-button-solid {
            min-width: auto;
            align-self: auto;
        }
    }
}
                                
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1290 {
        padding: var(--sectionPadding);
        position: relative;
        background-color: #f7f7f7;

        .cs-container {
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            max-width: (350/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-text {
            max-width: (630/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &::after {
                content: "";
                width: (20/16rem);
                height: (80/16rem);
                margin: (16/16rem) auto;
                background-image: url("../svgs/arrow-large.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
                display: block;
                position: relative;
                z-index: 10;
            }

            &:nth-of-type(2) {
                &::after {
                    transform: scaleX(-1);
                }
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (150/16rem);
            margin: 0 0 (12/16rem) 0;
            background-color: var(--primaryLight);
            border-radius: (10/16rem);
            display: block;
            position: relative;
            z-index: 10;
            /* clips the img tag corners */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-number {
            font-size: (20/16rem);
            font-weight: bold;
            width: (36/16rem);
            height: (36/16rem);
            margin: 0;
            padding: 0;
            color: #fff;
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            word-break: break-all;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            height: 25%;
            width: 100%;
            opacity: 0.5;
            color: var(--primary);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                color: var(--primary)
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1290 {
        .cs-container {
            max-width: (1440/16rem);
            gap: (100/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 3;
            &::after {
                width: (120/16rem);
                height: (28/16rem);
                margin: 0;
                background-image: url("../svgs/arrow-large.svg");
                position: absolute;
                bottom: (-40/16rem);
                left: clamp(8.5rem, 18vw, 18.5rem);
            }

            &:nth-of-type(2) {
                &::after {
                    top: (-60/16rem);
                    transform: rotateX(180deg);
                }
            }
        }

        .cs-background {
            top: 0;
            left: auto;
            right: 50%;
            /* 90px - 225px */
            margin-right: clamp(5.625rem, 15vw, 14.0625rem);
            height: 50%;
            width: 50vw;
        }
    }
}

/*-- -------------------------- -->
<---         Donations          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #donations-1428 {
        padding: var(--sectionPadding);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: (40/16rem);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 10;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }
    
        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            border-radius: (8/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (8/16rem);
                transition: width .3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            /* changes to 630px at large desktop */
            max-width: (944/16rem);
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            border-radius: (16/16rem);
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow .3s, transform .3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                .cs-picture {
                    img {
                        opacity: .3;
                        transform: scale(1.1);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
                
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            background-color: var(--primary);
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            padding: (24/16rem);
            /* prblog padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (24/16rem);
            padding: 0 0 (24/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #E8E8E8;
        }

        .cs-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* 4px - 8px */
            gap: clamp(.25rem, 1vw, .5rem);
        }

        .cs-progress {
            width: 100%;
            height: 6px;
            border-radius: (8/16rem);
            overflow: hidden;
            background-color: #E8E8E8;
        }

        .cs-progress-bar {
            width: var(--progress);
            height: 100%;
            background-color: var(--secondary);
            border-radius: (8/16rem);
            display: block;
        }

        .cs-percentage {
            font-size: (14/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-number-group {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-card-link {
            font-size: (16/16rem);
            font-weight: 500;
            line-height: 1.2em;
            text-decoration: none;
            margin-top: auto;
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            transition: transform 0.3s;
        }

        .cs-raised {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: (4/16rem);
        }

        .cs-number {
            font-size: (14/16rem);
            line-height: 1.2em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-stats-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (944/16rem);
            position: relative;
            z-index: 1;
        }

        .cs-stats-group {
            width: 100%;
            max-width: (944/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 4vw, 4rem);
        }

        .cs-stat {
            list-style: none;
            width: 100%;
            max-width: (400/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20xp */
            gap: clamp(1rem, 2vw, 1.25rem);
            grid-column: span 6;
        }

        .cs-info {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-icon-wrapper {
            /* 60px - 88px */
            width: clamp(3.75rem, 7vw, 5.5rem);
            height: clamp(3.75rem, 7vw, 5.5rem);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--secondary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-icon {
            /* 32px - 48px */
            width: clamp(2rem, 4vw, 3rem);
            height: auto;
            display: block;
        }

        .cs-stat-number {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 3vw, 2.4375rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(.875em, 3vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            /* 100% at large desktop */
            height: 70%;
            /* removed at large desktop */
            max-height: (650/16rem);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #1A1A1A;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: .02;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #donations-1428 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-stat {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-info {
            text-align: left;
            align-items: flex-start;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #donations-1428 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            /* this padding will push down and maintain the same distance between the bottom of the group and the top of the cs-stats-container.  That way when you add or subtract content from this group it will always be the right distance from the stat container below it */
            padding-bottom: (250/16rem);
            align-items: flex-start;
        }

        .cs-card-group {
            /* same amount as the translateY value to offset it */
            margin-bottom: (100/16rem);
            /* sends it to the left in the 1st position */
            order: -1;
            align-self: center;
        }

        .cs-item {
            &:nth-of-type(2) {
                transform: translateY(6.25rem);
            }
        }

        .cs-card-group {
            max-width: (630/16rem);
        }

        .cs-stats-container {
            max-width: (1280/16rem);
            /* makes it overlap the cs-container so the cards are next to it on the left */
            margin-top: (-150/16rem);
            display: flex;
            justify-content: flex-end;

            &:before {
                /* white background on the stats */
                /* we add this to be the background so as the height of the cs-content changes, this white background area will ALWAYS have 36 pixels between the top of it and the stats content below it.  This is an "illusion" we use to create the LOOK of it being the section background so we have mroe control over the white space above the stats group. */
                content: '';
                width: 105vw;
                height: (1000/16rem);
                background: #fff;
                opacity: 1;
                position: absolute;
                display: block;
                top: (-36/16rem);
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
        }

        .cs-stats-group {
            max-width: (585/16rem);
            justify-content: flex-end;
        }

        .cs-background {
            height: 100%;
            max-height: 100%;
        }
    }
}
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-510 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        /* clips the orbs from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (1236/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            opacity: 0.8;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            max-width: (710/16rem);
            /* 16px - 40px top & bottom */
            /* 16px - 60px left & right */
            padding: clamp(1rem, 3.15vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
            /* 24px - 48px */
            padding-bottom: clamp(1.5rem, 6vw, 3rem);
            background-color: #f7f7f7;
            /* 12px - 24px */
            border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            /* clips the pseudo box from overflowing */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: (12/16rem);
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
            }
        }

        .cs-quote {
            width: (40/16rem);
            height: auto;
            /* 16px - 32px */
            margin-bottom: clamp(1rem, 2vw, 2rem);
            display: block;
        }

        .cs-item-text {
            /* 14px - 25px */
            font-size: clamp(0.875rem, 1.6vw, 1.5625rem);
            line-height: 1.5em;
            margin: 0;
            /* 24px - 44px */
            margin-bottom: clamp(1.5rem, 3vw, 2.75rem);
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 12px - 24px */
            gap: clamp(0.75rem, 3vw, 1.5rem);
        }

        .cs-profile {
            /* 36px - 72px */
            width: clamp(2.25rem, 7vw, 4.5rem);
            height: clamp(2.25rem, 7vw, 4.5rem);
            margin: 0;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: #746f95;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-510 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-content {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
            margin: 0;
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #events-1438 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 18 characters, includes spaces between words */
            max-width: 20ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (704/16rem);
            background-color: #fff;
            border: 1px solid #e8e8e8;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-column: span 12;
            position: relative;
            overflow: hidden;
            transition: box-shadow 0.3s, border-color 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-color: transparent;

                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            background-color: #1a1a1a;
            display: block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            /* prevents flexbox from squishing it */
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-info {
            height: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: (24/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-date {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: (8/16rem) (16/16rem);
            color: #fff;
            background-color: var(--primary);
            border-radius: 0 (8/16rem) (8/16rem) 0;
            display: inline-block;
            position: absolute;
            top: (16/16rem);
            z-index: 2;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (20/16rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: none;
            margin-top: auto;
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            transition: transform 0.3s;
        }

        .cs-background {
            width: 100%;
            height: 50%;
            max-height: (450/16rem);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #f7f7f7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.25rem) {
    #events-1438 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #events-1438 {
        .cs-item {
            flex-direction: column;
            grid-column: span 3;
        }

        .cs-picture {
            max-width: none;
        }
    }
}
                                                         
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1466 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* chnages to 1280px at desktop */
            max-width: (630/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 108px */
            gap: clamp(3rem, 8vw, 6.75rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
        }

        .cs-title {
            margin: 0 0 (32/16rem);
            /* 20 characters wide including spaces */
            max-width: 20ch;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-self: center;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* 20px - 24px */
            padding: clamp(1.25rem, 2vw, 1.5rem) 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;
            border-bottom: 1px solid #e8e8e8;

            &.active {
                border-color: var(--primaryLight);
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    padding-top: (16/16rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            padding: 0;
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (4/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (1/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 90%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            max-width: (541/16rem);
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-picture {
            width: 100%;
            /* 300px - 498px */
            height: clamp(18.75rem, 65vw, 31.125rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: (24/16rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1466 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 45vw;
            /* prevents flexbox from squsihing it */
            flex: none;
            align-self: center;
        }

        .cs-picture {
            height: auto;
            min-height: (678/16rem);
            order: 1;
        }
    }
}
                                