---
title: "Home | HASH"
description: "Meta description for the page"
preloadImg: "/assets/images/marijuana.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<!-- <script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script> -->

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-996">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Holistic And Spiritual Health</span>
            <h1 class="cs-title">Elevate Your <span class="cs-color">Cannabis</span></h1>
            <p class="cs-text">
                HASH creates premium live resin and badders for those who seek quality, purity, and spiritual connection through cannabis. Our artisanal extraction process preserves the plant's essence for a truly authentic experience.
            </p>
            <div class="cs-button-box">
                <a href="/products" class="cs-button-solid">Explore HASH</a>
                <a href="/about" class="cs-button-white">Our Process</a>
            </div>
            <p class="cs-text cs-devtext">
                *DEV NOTE* Text with this style will not be on the final site, Im just using it to leave you some notes. - Zade :)
            </p>
        </div>
        <ul class="cs-card-group">
            <a class="cs-item" href="/products/#live-rosin">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/rosingradient.svg" alt="icon" width="60" height="60">
                </picture>
                <h3 class="cs-h3">Live Rosin</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias?
                </p>
            </a>
            <li class="cs-item" href="/products">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/vapegradient (1).svg" alt="icon" width="60" height="60">
                </picture>
                <h3 class="cs-h3">Vapes</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias?
                </p>
            </li>
            <li class="cs-item" href="/products">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/cannabis.svg" alt="icon" width="60" height="60">
                </picture>
                <h3 class="cs-h3">Badders</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias?
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <!-- Desktop version defined in CSS as URL for parallax effect -->
        <source media="(max-width: 600px)" srcset="/assets/images/marijuana.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/marijuana.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/marijuana.jpg" alt="marijuana" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1011">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Desktop-->
                <source media="(min-width: 1024px)" srcset="/assets/images/cannabisinhands.jpg">
                <!--Tablet-->
                <source media="(min-width: 601px)" srcset="/assets/images/cannabisinhands.jpg">
                <!--Mobile-->
                <source media="(max-width: 600px)" srcset="/assets/images/cannabisinhands.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cannabisinhands.jpg" alt="marijuana buds in hands" width="522" height="461" aria-hidden="true">
            </picture>
            <img class="cs-seal" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/seal2.svg" alt="seal" width="190" height="182">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">Who We Are</h2>
            <p class="cs-text">
                We believe the best people create the best products for the best consumers. Every HASH product is crafted with skill, precision, and a commitment to delivering a premium experience for those who value quality.
            </p>
            <p class="cs-text cs-devtext">
                *DEV NOTE* I want to put some sort of certification in this circle if you guys have something ->
            </p>
            <ul id="list-1074" class="cs-ul">
                <li class="cs-li">Crafted in small-batches with care</li>
                <li class="cs-li">Made from premium flower and whole plant extracts</li>
                <li class="cs-li">Created with care and authenticity</li>
                <li class="cs-li">Fresh-frozen and dried-cured extraction for a pure, potent experience</li>
            </ul>              
            <a href="/about" class="cs-button-solid">ABOUT HASH</a>
        </div>
    </div>
    <div class="background">
        <!-- Using common classes to minimize redundancy -->
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
        </div>
</section>
                                                  
<!-- ============================================ -->
<!--          Side By Side Image Gallery          -->
<!-- ============================================ -->

<section id="sbsr-1019">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">HASH Products</span>
            <h2 class="cs-title">Whole Plant.<br> Small Batch.<br> Pure Quality.</h2>
            <p class="cs-text">
                Our approach is simple and straightforward: pure, potent, and inclusive. We’re here to make quality cannabis accessible to all, educating and empowering users along the way. Whether you're a new explorer or a connoisseur, HASH delivers cannabis in its truest, most potent form.
            </p>
            <p class="cs-text cs-devtext">
                <-- More images like this please! *DEV NOTE*
            </p>
            <a href="/products" class="cs-button-solid">Our Products</a>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/cartondash.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/cartondash.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/cartondash.jpg" width="950" height="480">
        </picture>
    </div>
    <div class="cs-image-group">
        <picture class="cs-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/christina-winter-OJdxsFOVUu8-unsplash.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/christina-winter-OJdxsFOVUu8-unsplash.webp">
            <img loading="lazy" decoding="async" src="/assets/images/christina-winter-OJdxsFOVUu8-unsplash.webp" width="368" height="284">
        </picture>
        <picture class="cs-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/cannabisfarmer.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/cannabisfarmer.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/cannabisfarmer.jpg" width="368" height="284">
        </picture>
        <picture class="cs-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/resinonflower.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/resinonflower.png">
            <img loading="lazy" decoding="async" src="/assets/images/resinonflower.png" width="368" height="284">
        </picture>
        <picture class="cs-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/cannabisondesk.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/cannabisondesk.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/cannabisondesk.jpg" width="368" height="284">
        </picture>
        <picture class="cs-image">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/hashrosin.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/hashrosin.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hashrosin.webp" width="368" height="284">
        </picture>
    </div>
</section>
                                                
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1023">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stats</span>
            <h2 class="cs-title">WHY HASH</h2>
            <p class="cs-text">
                Quality starts with the finest inputs, and we don’t compromise. Every step of our process is dedicated to preserving the plant’s natural purity, resulting in a better output for you.
            </p>
            <p class="cs-text cs-devtext">
                *DEV NOTE* Let me know what kind of stats you want here.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">90+</span>
                <span class="cs-desc">Locations</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">57</span>
                <span class="cs-desc">Products</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4.9/5</span>
                <span class="cs-desc">Average Rating</span>
            </li>
        </ul>
    </div>
</section>
                                                 
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1013">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Customers Say</h2>
            <p class="cs-text">
                HASH delivers the purest cannabis experience, built on authenticity and transparency. We believe in cannabis for everyone, crafted with the highest standards from start to finish.
            </p>
            <p class="cs-text cs-devtext">
                *DEV NOTE* Let me know where is the best place to pull reviews from.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-review">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Sarah
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile1.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Jackson
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                               
{% include 'components/cta.html' %} {% endblock %}
